.footer{
    width: 100vw;
    height: 3rem;
    background-color: rgba(50, 50, 50, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-weight: 200;
    padding-left: 1rem;
    
}