#Aboutme{
    min-height: calc(100hv - 4rem);
    margin: 0 auto;
    width: 100vw;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}
.hr{
    border: none;
    height: 0.1rem;
    width: 80vw;
    align-content: center;
    background-color: rgba(80, 80, 80, 0.5);
}
.images{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100vw;
    max-width: 70rem;
}
.aboutimg{
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}
.information{
    margin: 1rem 2rem;
    text-align: left;
}
@media screen and (max-width:675px) {
    .aboutimg{
        height: 40vw;
    }
}
@media screen and (max-width:800px) {
    .images{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        max-width: 70rem;
    }
    .information{
        text-align: center;
    }
}